* {
	box-sizing: border-box;
	padding: 0;
	margin: 0; 
	font-family: 'Montserrat', sans-serif;
	 
}
  a {
	text-decoration: none;
}


/*header*/

.xo-nav {
	width: 100%;
}
.header-mid	{
	width: 1140px;
	margin:0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-mid img {
	width: 150px;
}
.header-mid ul {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header-mid ul a {
	margin-left: 10px;
	width: 80px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
}
 
.nav-link {
	color:black;
}
.display-tc {
	width: 880px;
	height: 240px;
	text-align: center;
	display: block;
	margin: 0;
	padding: 0;
}
.xo-container-1 {
	display: block;
	text-align: center;
	width: 880px;
	height: 150px;
	position: relative;
	margin: 0;
	padding: 0;
}
.xo-container-2 {
	display: block;
	text-align: center;
	width: 880px;
	height: 40px;
	position: relative;
	margin: 0;
	padding: 0;
}
.Sing-in {
	display: inline-block;
	width: 80px;
	height: 30px;
	border:1px solid #24478F;
	border-radius:  3px;
	color:#24478F;
	text-align: center;
	line-height: 28px;

}
.Sign-up {
	display: inline-block;
	width: 80px;
	height: 30px;
	border:1px solid #24478F;
	border-radius:  3px;
	background-color:#24478F;
	color:white;
	text-align: center;
	line-height: 28px;
}
.go-group {
	display: inline-block;
	width: 500px;
}
.go-edit {
	display: block;
	float: left;
	width: 80px;
	height: 30px;
	border:1px solid rgb(86, 203, 109);
	border-radius:  3px;
	background-color:rgb(86, 203, 109);
	color:white !important;
	text-align: center;
	line-height: 28px;
}
.go-delete {
	display: block;
	float: left;
	width: 80px;
	height: 30px;
	border:1px solid rgb(203, 86, 86);
	border-radius:  3px;
	background-color:rgb(203, 86, 86);
	color:white !important;
	text-align: center;
	line-height: 28px;
}
.go {
	display: block;
	float: left;
	width: 160px;
	height: 30px;
	border:1px solid #24478F;
	border-radius:  3px;
	background-color:#24478F;
	color:white !important;
	text-align: center;
	line-height: 28px;
}

/*header-in-account*/

.profile-header {
	display: block;
	width: 80px;
	height: 30px;
	border-radius:  3px;
	 color:black;
	text-align: center;
	line-height: 28px;
}
.profile-header:hover {
	color:#24478F;
}
.header-mid ul li {
	position: relative;
}
 .header-mid ul li >ul {
	display: none;
	position: absolute;
	width: 180px;
	background: white;
	padding: 5px;
}
 .header-mid ul li >ul a{
	 color:black;
}
 .header-mid ul li >ul a:hover{
	 color:#24478F;
}
 .header-mid ul li:hover > ul {
  display: block;
 }

/*homepage*/

.section1 {
	width: 100%;
	background-image: url(../images/federico-beccari-ryC3SVUeRgY-unsplash.jpg);
	height: 500px;
	background-position: center;
	background-size: 100%;
}
.section1-mid {
	width: 1140px;
	margin:0 auto;
	padding-top: 100px;
}
.section1-content {
	display: block;
	width: 880px;
	height: 240px;
	margin:0 auto;
	background: rgba(255,255,255,0.8);
	padding-top: 20px;
	position: relative;
}
.section1-content button {
	width: 200px;
	height: 40px;
 	left: 350px;
	position: absolute;
	bottom: 30px;
	color:white;
	background-color: #24478F;
}
.section1-content h1 {
	text-align: center;
	color:#24478F;
}
.section1-content p {
	position: absolute;
	top: 100px;
	left: 50px;
	color:black;
	 
	height: 43px;
	width: 170px;
	padding-left: 10px;
	line-height: 40px;
	border:1px solid #A9A9A9;
	background: white;
}
#start {
	position: absolute;
	top: 100px;
	left:230px;
	 border:1px solid #A9A9A9;
	padding: 10px;
}
#finish {
	position: absolute;
	top: 100px;
	left: 403px;
	padding: 10px;
	border:1px solid #A9A9A9;
}
#choose-room {
	position: absolute;
	top: 100px;
	left: 577px;
	padding: 11px;
	border:1px solid #A9A9A9;
}
.section2 {
	width: 100%;
}
.section2-mid	{
	width: 1140px;
	margin:0 auto;
	padding-top: 30px;
	padding-bottom: 40px;
}
.section2-mid h1 {
	text-align: center;
	color:#24478F;
}
 
 .section2-mid p {
	text-align: center;
	 margin-top: 20px;
}
 
.footer {
	width: 100%;
	background: #24478F;
	 
}
.footer i {
	font-size: 25px;
	text-align: center;
	margin-top: 5px;
}
.footer-mid {
	width: 1140px;
	margin:0 auto;
	color:white;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.footer-blocks {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-mid a {
	color:white;
}
.footer-block {
	width: 200px;
}
.createdBy {
	text-align: center;
	margin-top: 20px;
 
}





/*login page*/

.login-section1	{
	width: 100%;
	height: 550px;
	padding-top: 100px;
	border-top: 1px solid #24478F;
	background: #F8F8F8;

}
.login-section1-mid {
	width: 1140px;
	margin: 0 auto;
}
.login-form {
	width: 500px;
	height: 400px;
	border:3px solid #24478F;
	margin:0 auto;
	padding-top: 30px;
	background: white;
}
.login-form img {
	width: 80px;
	margin-left: 208px;
	border:3px solid #24478F;
}
.login-form p {
	text-align: center;
}
.login-form input {
	 margin-left:160px;
	 margin-top: 10px;
}
.login-form button {
	margin-left: 220px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 7px;
}
.login-form a {
	margin-left: 172px;
	 
	color:black;
}

/*registration page*/


.registration-section1	{
	width: 100%;
	height: 550px;
	padding-top: 50px;
	border-top: 1px solid #24478F;
	background: #F8F8F8;

}
.registration-section1-mid {
	width: 1140px;
	margin: 0 auto;
}
.registration-form {
	width: 800px;
	height: 400px;
	border:3px solid #24478F;
	margin:0 auto;
	padding-top: 20px;
	background: white;
	margin-bottom: 5px;
}
.registration-form img {
	width: 80px;
	margin-left: 357px;
	border:3px solid #24478F;
}
.registration-form p {
	text-align: center;
}
.registration-form-blocks {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}
.registration-form-blocks input {
	margin-top: 10px;


}
.registration-form-block {
	width: 50%;
	padding-left: 25px;
	 
}
.registration-form button {
	margin-left: 362px;
	padding: 7px;


}
#registration-last-name {
	margin-left: 2px;
}
#registration-email {
	margin-left: 43px;
}
#registration-password {
	margin-left: 12px;
}
#registration-phone {
margin-left: 53px;
}
#registration-address {
	margin-left: 41px;
}
#registration-Province {
	margin-left: 36px;
}
#registration-postal-code {
	margin-left: 10px;
}

/*change password page*/


.change-password-section1	{
	width: 100%;
	height: 550px;
	padding-top: 100px;
	border-top: 1px solid #24478F;
	background: #F8F8F8;

}
.change-password-section1-mid {
	width: 1140px;
	margin: 0 auto;
}
.change-password-form {
	width: 500px;
	height: 300px;
	border:3px solid #24478F;
	margin:0 auto;
	padding-top: 30px;
	background: white;
	position: relative;
}
.change-password-form img {
	width: 80px;
	margin-left: 208px;
	border:3px solid #24478F;
}
.change-password-form p:nth-child(2) {
	text-align: center;
}
.change-password-form p:nth-child(3) {
	position: absolute;
	left: 90px;
	top: 145px;
}
.change-password-form p:nth-child(4) {
	position: absolute;
	left: 90px;
	top: 175px;
}
.change-password-form input {
	 margin-left:220px;
	 margin-top: 10px;
}
.change-password-form button {
	margin-left: 220px;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 7px;
}

/*edit user page*/


.edit-user-section1	{
	width: 100%;
	height: 550px;
	padding-top: 50px;
	border-top: 1px solid #24478F;
	background: #F8F8F8;

}
.edit-user-section1-mid {
	width: 1140px;
	margin: 0 auto;
}
.edit-user-form {
	width: 500px;
	height: 400px;
	border:3px solid #24478F;
	margin:0 auto;
	padding-top: 30px;
	background: white;
	position: relative;
}
.edit-user-form img {
	width: 80px;
	margin-left: 208px;
	border:3px solid #24478F;
}
.edit-user-form p:nth-child(2) {
	text-align: center;
}
.edit-user-form p:nth-child(3) {
	position: absolute;
	left: 90px;
	top: 145px;
}
.edit-user-form p:nth-child(4) {
	position: absolute;
	left: 90px;
	top: 175px;
}
.edit-user-form p:nth-child(5) {
	position: absolute;
	left: 90px;
	top: 205px;
}
.edit-user-form p:nth-child(6) {
	position: absolute;
	left: 90px;
	top: 235px;
}
.edit-user-form input {
	 margin-left:220px;
	 margin-top: 10px;
}
.edit-user-form button {
	 left: 220px;
	margin-top: 15px;
	 bottom: 50px;
	padding: 7px;
	position: absolute;
}


/*profile user*/

.profile-section1	{
	width: 100%;
	height: 550px;
	padding-top: 20px;
	border-top: 1px solid #24478F;
	background: #F8F8F8;

}
.profile-section1-mid {
	width: 1140px;
	margin: 0 auto;


}
.profile-section1-mid h1 {
	margin-bottom: 20px;
}
.profile-form {
	width: 1140px;
	height: 400px;
	border:3px solid #24478F;
	margin:0 auto;
	padding-top: 15px;
	background: white;
	position: relative;
}

.headings {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	border-bottom: 3px solid #24478F;
	padding-bottom: 15px;

}
.headings p {
	margin-left: 20px;
}
.checkOut {
	margin-left:  100px !important; 
}
.booking1 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	border-bottom: 3px solid #24478F;
	padding-bottom: 25px;
	padding-top: 25px;
	position: relative;
	padding-left: 20px;

}

.num {
	position: absolute;
	left: 20px;
}
.nameOfHotel {
	position: absolute;
	left: 180px;
}
.descriptionOfRoom {
	position: absolute;
	left: 320px;
}
.startDate {
	position:absolute;
	left: 485px;
}
.endDate {
	position: absolute;
	left: 655px;
}
 
.booking1 button {
	position: absolute;
	right: 20px; 
}


/*admin page*/

.admin-section1	{
	width: 100%;
	height: 550px;
	padding-top: 20px;
	border-top: 1px solid #24478F;
	background: #F8F8F8;

}
.admin-section1-mid {
	width: 1140px;
	margin: 0 auto;


}
.admin-section1-mid h1 {
	margin-bottom: 20px;
}
.admin-form {
	width: 1140px;
	height: 400px;
	border:3px solid #24478F;
	margin:0 auto;
	padding-top: 15px;
	background: white;
	position: relative;

}
.admin-form h2 {
	margin-left: 20px;
	margin-bottom: 15px;

}
.admin-form hr {
	 
	 
}
.headings {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	border-top: 3px solid #24478F;
	padding-bottom: 15px;
	padding-top: 15px;

}
.headings p {
	margin-left: 20px;
}
.checkOut {
	margin-left:  100px !important; 
}
.ckeckIn {
	margin-left:  80px !important; 
}

.user1 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #24478F;

}





.bottonEdit {
	position: absolute;
	right: 80px;
}
.buttonDaketeUser {
position: absolute;
	right: 20px;
}
.numOfUser {
	position: absolute;
	left: 20px;
}
.nameOfUser {
	position: absolute;
	left: 82px;
}
.lastNameOfUser {
	position: absolute;
	left: 190px;
}
.RoomDesc {
	position: absolute;
	left: 297px;
}
.phoneOfUser {
	position: absolute;
	left: 463px;
}
.startDateAdnin {
	position: absolute;
	left: 595px;
}
.endDateAdnin {
	position: absolute;
	left: 765px;
}

.user2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #24478F;
 

}

.user3 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #24478F;

}
.user4 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #24478F;

}
.user5 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #24478F;

}





/*editUserFromAdmin page*/


.editUserFromAdmin-section1	{
	width: 100%;
	height: 550px;
	padding-top: 20px;
	border-top: 1px solid #24478F;
	background: #F8F8F8;

}
.editUserFromAdmin-section1-mid {
	width: 1140px;
	margin: 0 auto;


}
.editUserFromAdmin-section1-mid h1 {
	margin-bottom: 20px;
}
.editUserFromAdmin-form {
	width: 1140px;
	height: 400px;
	border:3px solid #24478F;
	margin:0 auto;
	padding-top: 15px;
	background: white;
	position: relative;
}
.editUserFromAdmin-form img {
	width: 300px;
	position: absolute;
	left: 20px;
	top: 20px;
}
.userImage {
	position: absolute;
	left: 20px;
	top: 300px;
}
.editUserFromAdmin-form p:nth-child(3) {
	position: absolute;
	left: 350px;
	top: 80px;
}
.editUserFromAdmin-form p:nth-child(4) {
	position: absolute;
	left: 350px;
	top: 105px;
}
.editUserFromAdmin-form p:nth-child(5) {
	position: absolute;
	left: 350px;
	top: 130px;
}
.editUserFromAdmin-form p:nth-child(6) {
	position: absolute;
	left: 350px;
	top: 155px;
}
.editUserFromAdmin-form p:nth-child(7) {
	position: absolute;
	left: 350px;
	top: 180px;
}
.editUserFromAdmin-form p:nth-child(8) {
	position: absolute;
	left: 350px;
	top: 205px;
}
.editUserFromAdmin-form p:nth-child(9) {
	position: absolute;
	left:750px;
	top: 80px;
}
.editUserFromAdmin-form p:nth-child(10) {
	position: absolute;
	left:750px;
	top:105px;
}
.editUserFromAdmin-form p:nth-child(11) {
	position: absolute;
	left:750px;
	top: 130px;
}
.editUserFromAdmin-form p:nth-child(12) {
	position: absolute;
	left:750px;
	top: 160px;
}
.editUserFromAdmin-form p:nth-child(13) {
	position: absolute;
	left:750px;
	top: 190px;
}



.editUserFromAdmin-form input:nth-child(14) {
	position: absolute;
	left: 470px;
	top: 80px;
}
.editUserFromAdmin-form input:nth-child(15) {
	position: absolute;
	left: 470px;
	top: 105px;
}
.editUserFromAdmin-form input:nth-child(16) {
	position: absolute;
	left: 470px;
	top: 130px;
}
.editUserFromAdmin-form input:nth-child(17) {
	position: absolute;
	left: 470px;

	top: 155px;
}
.editUserFromAdmin-form input:nth-child(18) {
	position: absolute;
	left: 470px;

	top: 180px;
}
.editUserFromAdmin-form input:nth-child(19) {
	position: absolute;
	left: 470px;
	top: 205px;
}
.editUserFromAdmin-form input:nth-child(20) {
	position: absolute;
	left:890px;
	top: 80px;
}
.editUserFromAdmin-form input:nth-child(21) {
	position: absolute;
	left:890px;
	top:105px;
}
.editUserFromAdmin-form input:nth-child(22) {
	position: absolute;
	left:890px;
	top: 130px;
}
.editUserFromAdmin-form input:nth-child(23) {
	position: absolute;
	left:890px;
	top: 160px;
}
.editUserFromAdmin-form input:nth-child(24) {
	position: absolute;
	left:890px;
	top: 190px;
}
.editUserFromAdmin-form button:nth-child(25) {
	position: absolute;
	bottom: 120px;
	padding: 5px;
	right: 250px;
}
.editUserFromAdmin-form button:nth-child(26) {
	position: absolute;
	padding: 5px;
	bottom: 120px;
	right: 150px;
}
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: "Raleway", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding: 8px 30px;
  }
  .btn-primary {
	background: #24478F;
	color: #fff;
	border: 2px solid #24478F !important;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: #24478F !important;
	border-color: #24478F !important;
	cursor: pointer;
  }
  .btn-primary.btn-outline {
	background: transparent;
	color: #24478F;
	border: 2px solid #24478F;
  }
  .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
	background: #24478F;
	color: #fff;
  }
  .form-group {
	width: 100% !important;
	margin-bottom: 10px;
  }
  .form-control {
	width: 100%;
  }
  .form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 24px;
	width: 300px;
	font-size: 16px;
	font-weight: 300;
  }
  .form-control:active, .form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: #F85A16;
  }